.animates {
	animation: .3s $transition_timing_standard forwards;
}

.fade-in {
	animation-name: fade-in;
}

.fade-out {
	animation-name: fade-out;
}

.zoom-out {
	animation-name: zoom-out;
}

.rotate {
	animation-name: rotate;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

@keyframes zoom-out {
	from {
		transform: scale(0.6);
	}

	to {
		transform: scale(1);
	}
}

@keyframes rotate {
	to {
		transform: rotate(360deg);
	}
}

