// Fontello font face
//@font-face {
//	font-family: 'fontello';
//	src: url(/assets/fonts/fontello.woff2) format('woff2'),
//	url(/assets/fonts/fontello.woff) format('woff');
//	font-weight: normal;
//	font-style: normal;
//}

// Fontello general styles
//.fi {
//	display: inline-block;
//	line-height: 1;
//	vertical-align: middle;
//
//	&:hover {
//		text-decoration: none;
//	}
//
//	&::before {
//		display: inline-block;
//		font-family: 'fontello';
//		font-style: normal;
//		font-weight: normal;
//		speak: none;
//		text-align: center;
//		text-decoration: inherit;
//		width: 1em;
//
//		//opacity: .8;
//
//		// For safety - reset parent styles, that can break glyph codes
//		font-variant: normal;
//		text-transform: none;
//
//		// fix buttons height, for twitter bootstrap
//		line-height: 1em;
//
//		// Animation center compensation - margins should be symmetric
//		// remove if not needed
//		//margin-left: .2em;
//
//		// you can be more comfortable with increased icons size
//		//font-size: 120%;
//
//		// Uncomment for 3D effect
//		// text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3);
//	}
//}

// Fontello codes