// PNG icons - ideally we'd turn these in to SVG fonts but they probably use strokes, not fills (a no-no for Fontello)
.icon {
	display: inline-block;
	vertical-align: middle;

	&::before {
		background: no-repeat 50% 50%/contain;
		content: '';
		display: block;
		height: 100%;
		width: 100%;
	}

	//&.icon-paint::before {
	//	background-image: url(/img/tmp/hotspot.png);
	//}
}