@import 'fonts';

* {
	&, &::after, &::before {
		box-sizing: border-box;
	}
}

:first-child {
	margin-top: 0;
}

:last-child {
	margin-bottom: 0;
}


// HTML/Body styles
html {
	min-height: 100vh; // Fucking Internet Explorer
	min-height: var(--body-height);
}

html, body {
	max-width: 100vw;
	overflow: hidden;
	width: 100vw;
}

body {
	color: $colour_primary;
	@include font_body;
	font-size: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0;
}

body, #app {
	min-height: inherit;
}


// Input element reset
button, input, textarea, select {
	color: inherit;
	font: inherit;
	outline: 0;
	line-height: inherit;
}

button, input, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	background: 0 0;
	border: 0;
	border-radius: 0;
	padding: 0;

	&::-moz-focus-inner {
		border: 0;
	}
}


// Image reset
img {
	max-width: 100%;
}

// List reset
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}


// Link reset
a {
	color: inherit;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

a, .btn, button, label {
	cursor: pointer;
	outline: none;
	touch-action: manipulation;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;

	.fi {
		pointer-events: none;
		vertical-align: inherit;
	}
}

label {
	display: inline-block;

	* {
		pointer-events: none;
	}
}