// Animation timing functions - not all of these are used but I love them.
$ease-out-quint: cubic-bezier(0.230, 1, 0.32, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$transition_timing_sharp: cubic-bezier(0.4, 0, 0.6, 1);
$transition_timing_standard: cubic-bezier(0.4, 0, 0.2, 1);

// Colours
$colour_dark_blue: #354553;
$colour_black: #201616;
$colour_green: #1BB97D;
$colour_grey: #969696;
$colour_white: #FFF;


// Colour profile
$colour_primary: $colour_dark_blue;
$colour_secondary: $colour_white;
$colour_footer_bg: $colour_black;
$colour_footer_fg: $colour_grey;

$button_primary_bg: $colour_green;
$button_primary_fg: $colour_white;

$button_secondary_bg: $colour_dark_blue;
$button_secondary_fg: $colour_white;


// Font mixins
@mixin font_body {
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 700;
}

@mixin font_body_thin {
	font-family: futura-pt, sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin font_alt {
	font-family: 'Dry Brush', serif;
	font-style: normal;
	font-weight: 400;
}