<script>

	import '../lib/lib'
	import {onResize} from '../lib/event-handlers'

	export default {
		name: 'App',
		data() {
			return {};
		},
		created() {
			window.on('resize', onResize); // Bind onResize to window.resize event
			onResize(); // Anything important enough to do on resize is probably important enough to do form the get-go
		},
		mounted() {
		},
		methods: {},
	};


	/** Private variables **/



	/** Private functions **/


</script>

<template>
	<div id="app">
		<h1>lol</h1>
	</div>
</template>

<style lang="scss">
	#app {
		display: flex;
		flex-direction: column;
	}
</style>

<style lang="scss" scoped>
 h1 {
	 font-size: 60px;
 }
</style>